@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
background-color:black
}
body::-webkit-scrollbar-thumb{
  background-image:linear-gradient(to top,#91cde0,#116fa4);
  border-radius: 10px;
}